<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
    <link rel="icon" href="{{ url_for('static', filename='img/buscar_icono.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buscar.css') }}">
</head>
<body>
    <div class="cajabuscar">
        <h1>Busca el Blog de tu interés</h1>
        <input type="text" name="buscar" id="buscar" placeholder="Palabras clave separadas por coma...">
        <input type="submit" value="Buscar">

        <h1>Búsqueda avanzada</h1>
        <input type="checkbox" name="publicos" id="publicos">
        <label for="publicos">Públicos</label>
        
        <input type="checkbox" name="blogs" id="blogs">
        <label for="blogs">Tus Blogs</label>
        
        <input type="checkbox" name="Seguidos" id="Seguidos">
        <label for="Seguidos">Seguidos</label>
        
        <br>

        <input type="checkbox" name="titulo" id="titulo">
        <label for="titulo">Título</label>
        
        <input type="checkbox" name="cuerpo" id="cuerpo">
        <label for="cuerpo">Cuerpo</label>
        
        <input type="checkbox" name="etiqueta" id="etiqueta">
        <label for="etiqueta">Etiquetas</label>
        
        <input type="checkbox" name="autor" id="autor">
        <label for="autor">Autor</label>

        
        <input type="checkbox" name="ano" id="ano">
        <label for="ano">Año</label>

        <!-- ojo, esto aquí necesita saber que el usuario ya está autenticado -->
        <a href="index14G.html"><h6>Volver</h6></a> 

    </div>
</body>
</html>