<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog 14 G</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index14G.css') }}">
    <!-- <link rel="icon" href="img\favicon.ico"> -->
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body>
    <div class="contenedor">
        <header>
            <h1 class="titulo">Blog 14 G</h1> 
            <div><img class="imagen" src="img\favicon.ico" alt="Logo"></div>
        </header>
        <nav class="menu">
            <ul>
                <li><a href="index14G.html">Blog</a></li>
                <li><a href="crear_actualizar.html">Nuevo Post</a></li>
                <li><a href="buscar.html">Buscar</a></li>
            </ul>
        </nav>
        <section class="seccion">
            <article>
                <time datetime="27-11-2020">Publicado el 27-11-2020</time>
                <hgroup>
                    <h2>Título de mi primer artículo</h2>
                    <h3>Subtítulo del primer artículo</h3>
                </hgroup>           
                
                <p>Lorem <small>ipsum dolor sit, amet consectetur adipisicing elit.</small>
                    <strong>Quas consequatur doloribus qui,</strong> excepturi voluptatibus aliquid,
                    iusto deserunt ratione odio cupiditate laudantium neque!
                    Voluptates ad quas <cite>voluptatibus sit labore corporis laudantium!</cite>
                </p>
                
                <footer>
                    <p><a href="comentar.html">Comentarios (0)</a></p>
                </footer>
                <a href="eliminar.html">Eliminar</a>
            </article>
            <article >
                <time datetime="27-11-2020">Publicado el 27-11-2020</time>
                <hgroup>
                    <h2>Título de mi segundo artículo</h2>
                    <h3>Subtítulo de mi segundo artículo</h3>
                </hgroup>
                
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Quas consequatur doloribus qui, excepturi voluptatibus aliquid,
                    iusto deserunt ratione odio cupiditate laudantium neque!
                    Voluptates ad quas voluptatibus sit labore corporis laudantium!

                </p>
                <footer>
                    <p><a href="comentar.html">Comentarios (10)</a>)</p>
                </footer>
                <a href="eliminar.html">Eliminar</a>
            </article>
        </section>
        <aside class="columna" >
            <blockquote cite="https://desarrolloweb.com/home/css">
                Mensaje 1
            </blockquote>
            <blockquote cite="https://desarrolloweb.com/home/css">
                Mensaje 2
            </blockquote>
        </aside>
        <footer class="piePagina">
            Derechos reservados 2020
        </footer>
    </div>
</body>

</html>